header {
  background:#006666;
  color:#fff;
}

.main {
  background:#bfbfbf;
}

.color1{
  background:#609f60;
  color: #fff;
}

.color2{
  background: #006666;
  color: #fff;
}

aside {
  background:#b3b3b3;
  color:fff;
}

footer {
  background:#006666;
  color: #fff;
}
